.message {
  line-height: 24px;
  vertical-align: top;
  width: 90%;
  height: 100%;
  position: absolute;
  left: 0;
  padding-left: 10%;
  display: inline-block;
}

.text {
  width: 55%;
  display: inline-flex;
  height: 100%;
  text-align: left;
  line-height: 1.5;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.unsupported {
  composes: text;
  width: 90%;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;

  a {
    color: rgb(61, 112, 178);
    text-decoration: none;
  }
}

.troubleshootLink {
  color: #3d70b2;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
}

.retry {
  text-decoration: none;
  color: rgb(61, 112, 178);
  padding: 7px 8px 7px 10px;
  border: 2px solid rgb(61, 112, 178);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 18px;
  line-height: 18px;
  text-align: center;
  min-width: 50px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.retry:hover {
  color: #FFFFFF;
  border: 2px solid #3d70b2;
  background-color: #30588c;
}

.retry:active {
  color: #00B2EF;
  border: 1px solid #3d70b2;
  background-color: #3d70b2;
}

.mitigateText {
  width: 45%
}

.mitigateText:lang(nl) {
  width: 40%
}

.mitigateText:lang(fr) {
  width: 32%;
}
