/* developer.asperasoft.com
	This file controls the presentation of the iframe and it's 
	modal overlay. Some presentation items are set in connectinstaler.js
	in cases where only JavaScript can do the job.
*/
.aspera-iframe-container {
	position:fixed;
	left:50%;
	top:50%;
	border:1px solid #afafaf;
	-moz-box-shadow: 0px 3px 6px #999;
	-webkit-box-shadow: 0px 3px 6px #999;
	box-shadow: 0px 3px 6px #999;
	zoom:1;
	z-index:1201;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=0,strength=1),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=45,strength=1),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=90,strength=2),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=135,strength=3),
					progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',direction=180,strength=6),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=225,strength=3),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=270,strength=2),
					progid:DXImageTransform.Microsoft.Shadow(color='#dddddd',direction=315,strength=1);
}
.aspera-connect-installer {
	height:100%;
	width:100%;
	overflow:hidden;
	border:none;
}
.aspera-modal-overlay {
	/* 
	The background image is set in connectinstaller.js since
	background image are served from the SDK location
	and that location can change.
	*/
	background-repeat:repeat;
	background-position:left top;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	text-align:center;
	z-index:1200;
}