.pictograms {
  height: 32px;
  width: 32px;
  position: relative;
  margin-left: 14px;
  vertical-align: middle; 
  display: inline-block;
}

.downloadBox {
  display: inline;
  width: 32px;
  height: 32px;
  background-image: url('../../../assets/pictogram_download.svg');
}

.puzzle {
  display: inline;
  width: 32px;
  height: 32px;
  background-image: url('../../../assets/pictogram_puzzle.svg');
}

.openBox {
  display: inline;
  vertical-align: top;
  width: 36px;
  height: 29px;
  background-image: url('../../../assets/pictogram_openbox.svg')
}