.close {
  display: inline-block;
  position: relative;
  float: right;
  overflow: hidden;
  margin-right: 16px;
  margin-top: 16px;
  width: 12px;
  height: 14px;
  font-size: 12px;
  z-index: 10;
  color: #8c9ba5;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.logo {
  width: 32px;
  height: 32px;
  margin: 24px 0px 24px 20px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-image: url('../../assets/connect-logo.png');
}

.statusBanner {
  background-color:  #ffffff;
  height:99%;
  overflow: hidden;
  position: relative;
  max-width: 600px;
  margin: 0px auto;
  border-top: 4px solid #3D70B2;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  animation-name: bump;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  transform-origin: center top;
}
