body {
	background:#dfdfdf;
	font-family:"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	}
a:active {
	outline:none;
}
.button_container {
	margin-top:120px;
	text-align:center;
}
.button_container.ismac {
	background:#f2f2f2;
	margin:64px auto;
	padding:16px 20px;
	width:600px;
	text-align:left;
	border:1px solid #aaa;
	line-height:1.5; 
	font-size:90%;	
}		
.ismac span {
	color:#595959
}
.button, 
.install_button { 
	padding:12px 24px;
	display:inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	text-decoration: none;
	color: #313131;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-webkit-appearance:button;
/*-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
*/
}
.install_button:hover {
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');

}
.install_button:active {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}
.install_button:focus {
	outline: 0;
}
.install_button:before {
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
	pointer-events: none;
}
.alt_download {
	font-size:90%;
}
.progress_container {
	position:relative;
	width:400px;
	padding: 12px 24px 24px;
	margin:0 auto;
	background:#e7e7e7;
	text-align:left;
	border:1px solid #aaa
}
.bar_container {
	position:relative;
	margin: 0 auto;
	width:400px;
	padding:1px;
	height:33px;
	border:1px solid #a8a8a8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: rgb(15,15,15); /* Old browsers */
	background: -moz-linear-gradient(top,	 rgb(15,15,15) 0%, rgb(22,22,22) 25%, rgb(53,53,53) 78%, rgb(71,71,71) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(15,15,15)), color-stop(25%,rgb(22,22,22)), color-stop(78%,rgb(53,53,53)), color-stop(100%,rgb(71,71,71))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,	rgb(15,15,15) 0%,rgb(22,22,22) 25%,rgb(53,53,53) 78%,rgb(71,71,71) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,	 rgb(15,15,15) 0%,rgb(22,22,22) 25%,rgb(53,53,53) 78%,rgb(71,71,71) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,	rgb(15,15,15) 0%,rgb(22,22,22) 25%,rgb(53,53,53) 78%,rgb(71,71,71) 100%); /* IE10+ */
	background: linear-gradient(top,	rgb(15,15,15) 0%,rgb(22,22,22) 25%,rgb(53,53,53) 78%,rgb(71,71,71) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#474747',GradientType=0 ); /* IE6-9 */	
}
.progress_bar {
	width:0%;
	height:33px;
	background: #62c629;
}
.progress_description {
	margin:0 0 6px 0;
	font-size:18px;
	line-height:1.4;
	color:#282828;
}
.progress_container .header {
	background:transparent url(images/connect.png) 0 0 no-repeat;
	font-size:14px;
	color:#585858;
	padding:0 0 12px 22px;
}
/*


File Transfer Control Styles


*/
.upload_button {
	padding:8px 24px;
}
.download_button {
	padding:8px 24px;
	margin-left:48px
}

.paths {
	font-size:12px;
}
.toolbar {
	text-align:center;
	font-size:90%;
}
.toolbar .content_encryption_wrapper {
	display:inline-block;
	margin-left:-220px;
}

/* //////////////////////////////////////////////////////////////////////
	asChrome
*/
.asChrome {
	max-height:600px;
	background:#ccc;
	background:rgba(200,200,200,0.6);
	position:absolute;
	bottom:0;
	right:24px;
	width:400px;/*Set any width here for all widgets*/
	margin:0;	 
	padding:2px 2px 0 2px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#232323;
	border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-bottom:none;
	-webkit-box-shadow: 0 0px 5px rgba(70, 70, 70, 0.3);
	-moz-box-shadow: 0 0px 5px rgba(70, 70, 70, 0.3);
	box-shadow: 0 0px 5px rgba(70, 70, 70, 0.3);

}
.asChrome .header {
	padding:4px 8px;
	font-size:11px;
	font-weight:bold;
	color:#494949;
	cursor:pointer;
}
.asChrome .header:hover {
	background:#ddd;
}
.asChrome .item {
	position:relative;
	margin:0 0 2px 0;
	padding:4px 16px;
	background:rgb(220, 220, 220);
	background:rgba(220, 220, 220, 0.75);
	border:1px solid rgba(180, 180, 180, 0.7);
}
.asChrome .wrap_bar,
.asChrome .path,
.asChrome .status {
	width:100%;
	left:0;
	font-size:10px;
}
.asChrome .path {
	position:relative;
	width:332px;
	font-size:10px;
	line-height:20px;
	cursor:help;	
}
.asChrome .wrap_bar {
	position:relative;
	width:320px;
	border:1px solid #ccc;
	border-right-color:#d6d6d6;
	border-bottom-color:#efefef;
	border-left-color:#d6d6d6;
	opacity:1;
	margin-left:-2px;
	height:7px;
	/*border:1px solid #a8a8a8;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: rgb(125, 125, 125); /* Old browsers */
	background: rgba(195, 195, 195, 0.8);
}
.asChrome .bar {
	-o-transition:opacity 1000ms linear;  
	-moz-transition:opacity 1000ms linear;
	-webkit-transition:opacity 1000ms linear;
	width:0;
	height:100%;   
	background-color: #434443;
}
.asChrome .bar.cancelled {
	-o-transition:opacity 1000ms linear;
	-moz-transition:opacity 1000ms linear;
	-webkit-transition:opacity 1000ms linear;  
	opacity:0.3;
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.asChrome .status {
/*	margin-left:64px;*/ /*adjust left column width*/
	margin-right:48px;
}
.asChrome .control {
	display:block;
	position:absolute;
	top:50%;
	margin-top:-8px;
	height:16px;
	width:16px;		 
	cursor:pointer;		 
	opacity:0.7;
}
.asChrome .control:hover {
	opacity:1;
}

.asChrome .delete_item {
	right:4px;
	background: transparent url(images/delete.png) 50% 50% no-repeat;
}

.asChrome .reveal_item {
	right: 24px;
	background:transparent url(images/show_in_finder.png) 50% 50% no-repeat;
}

.asChrome .pause_item {
	right: 24px;
	background:transparent url(images/pause.png) 50% 50% no-repeat;
}

.asChrome .resume_item {
	right: 24px;		background:transparent url(images/resume.png) 50% 50% no-repeat;
}

.asChrome .start {
	right: 24px;		background:transparent url(images/start.png) 50% 50% no-repeat;
}

/* Dialog ---------------------------------------------------*/
.overlay_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#fff;					
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}

.dialog {
	padding:1px;
	background:#fff;
	width: 380px;
	height: auto;
	border:1px solid #494949;
	position:absolute;
}
.dialog_header {
	padding:8px 8px;
	border: 1px solid #05254c; 
	background: #05254c; 
	color: #ffffff; 
	font-weight: bold;
	font-size:12px;
}
.dialog .title {
	padding: 12px 8px 4px 8px;
	font-size: 16px;
	color:#595959;
}
.dialog label {
	display:block;
	padding: 12px 8px 4px 8px;
	font-size:12px;
	color:#333;
}
.dialog input[type=text],
.dialog input[type=password] {
	margin-left:8px;
	width:82%;
	font-size:16px;
}
.dialog .hint {
	color:#0041a8;
	font-size:12px;
	padding: 2px 20px 2px 8px;	
}
.wrap_buttons {
	margin-top:16px;
	padding:8px;
	background:#dedede;
}
.wrap_buttons button {
	margin-left:16px; 
}
.box_shadow {
	-webkit-box-shadow: 0 0 12px rgba(80, 81, 80, 0.8);
	-moz-box-shadow: 0 0 12px rgba(80, 81, 80, 0.8);
	box-shadow: 0 0 12px rgba(80, 81, 80, 0.8);
}
.dialog_error {
	margin:16px;
	/*background:#f48f8b;*/
	color:#c61417;
}